<nav class= "navbar" style="background-color: #563d7c; border-radius: 0px">
  <%= link_to "Todo App", root_path, class: "navbar-brand nav-color" %> 
  <ul class="nav justify-content-end nav-modify">
    <li class="nav-item">
      <%= link_to 'Register', new_user_path, class: ['nav-link', 'active', 'change-colour'], style: "color: #ffffff" %>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#" style="color: #ffffff">Login</a>
    </li>
  </ul>
  <div>
</nav>
